h1, h2, h3, h4, h5, h6, p, a, span, th, td {
  font-family: 'Quicksand', sans-serif !important;
}

h1,
h2,
h3,
h4
 {
  color: #4679b0 !important;
}

a {
  color: #4679b0 !important;
  font-weight: 500;

}

th {
  font-size: 18px;
}

.stat-header {
  margin-bottom: 15px;
}

.station-name {
  font-size: 16px;
}

.error {
  color: red;
}

.table-bordered {
  border: 1px solid #D6D6D6 !important;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #D6D6D6 !important;
}

.train-detail-row {
  /*margin-bottom: 5px;*/
  border-bottom: 1px solid #EBEBEB;
  margin: 0 5px !important;
  padding: 6px 0;
}

.train-detail-row-last {
  /*margin-bottom: 5px;*/
  /*border-bottom: 1px solid #EBEBEB;*/
  margin: 0 5px !important;
  padding: 6px 0;
}

.accordion-toggle a::before {
  content: '+  '
}

.accordion-toggle .collapsed a::before {
  content: '-  '
}

.station-detail-title-icons {
  margin-bottom: 15px;
}
